name: MDCN Accessibility Bot

on:
  schedule:
    - cron: "*/15 * * * *"   # every 15 minutes
  workflow_dispatch:

jobs:
  check-site:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run bot
        run: node check.js
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit database
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add status.db
          git commit -m "Update site status log" || echo "No changes"
          git push
